@font-face {
   font-family: 'Quicksand', sans-serif;
   src: url(Quicksand-VariableFont_wght.ttf);
}
@media only screen and (min-width: 340px) {
   @font-face {
      font-family: 'Quicksand', sans-serif;
      src: url(Quicksand-VariableFont_wght.ttf);
   }
   * {
      font-family: 'Quicksand', sans-serif;
      color: #00F627;
      justify-content: center;
   }
   ul li {
      list-style-type: none;
   }
   #hero {
      background-image: url(Untitled\ design.png);
      background-repeat: no-repeat;
      background-position: center center;
   }
   .pfp {
      border-radius: 20%;
      width: 400px;
      margin-left: 630px;
      margin-top: -1s0px; 
      margin-bottom: 60px;
   }
   .headings {
      width: 1497px;
      height: 879px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column; 
   }
   .box {
      width: 522px; 
      margin-left: 520px; 
      height: 491px; 
      top: 150px; 
      position: absolute;
      background: rgba(156.19, 61.82, 61.82, 0); 
      border-radius: 45px;
      border: 6px #00F627 solid
      }
      .box2 {
         width: 515px; 
         margin-left: 490px; 
         height: 492px; 
         top: 121px; 
         position: absolute; 
         background: rgba(156.19, 61.82, 61.82, 0); 
         border-radius: 45px; 
         border: 6px #00F627 solid
      }
   .welcome {
      margin-left: -10px;
      font-size: 39px; 
      text-transform: capitalize; 
      letter-spacing: 4.40px;
   }
   .course {
      margin-left: -10px; 
      font-size: 28px; 
      letter-spacing: 3.60px;
   }
   .it {
      margin-left: -10px; 
      font-size: 20px; 
      letter-spacing: 2.76px;
   }
   .headline {
      background-color:transparent;
      margin-right: -710px;
      padding-left: 550px;
      top: 120px;
      float: right;
      position: absolute; 
      color: #00F627;
      word-wrap: break-word;
      font-weight: 700;
      font-family:'Quicksand', sans-serif;
   }
   .subtitle {
      margin-left: 570px;
      background-color:transparent; 
      top: 260px; 
      position: absolute; 
      list-style-type: none;
      color: #00F627; 
      font-size: 23px;  
      letter-spacing: 3.24px;
      word-wrap: break-word;
   }
   .but1 {
      width: 268px; 
      height: 69px; 
      top: 692px; 
      margin-left:490px;
      position: absolute; 
      background: #00F627; 
      border-radius: 45px; 
      color: black;      
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 3.60px;
      word-wrap: break-word;
   }
   .but1:hover{
      color: #00F627;
      background-color: black;
      border: 5px #00F627 solid
   }
   .but2 {
      width: 268px; 
      height: 69px; 
      margin-left:775px;
      top: 692px; 
      position: absolute; 
      background: black; 
      border-radius: 45px; 
      border: 5px #00F627 solid; 
      color: #00F627; 
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;  
      font-weight: 700; 
      letter-spacing: 3.60px; 
      word-wrap: break-word
   }
   .but2:hover {
      background: #00F627; 
      border-radius: 45px; 
      color: black; 
   }
   .img-fluid {
      width: 30%;
      margin-left: 500px;
      border-radius: 10%;
   }
   .but3 {
      width: 268px; 
      height: 69px; 
      margin-left:-300px;
      position: absolute; 
      background: #00F627; 
      border-radius: 45px; 
      color: black;      
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 3.60px;
      word-wrap: break-word;
   }
   .but3:hover{
      color: #00F627;
      background-color: black;
      border: 5px #00F627 solid
   }
   .but4 {
      width: 268px; 
      height: 69px; 
      position: absolute; 
      background: black; 
      border-radius: 45px; 
      border: 5px #00F627 solid; 
      color: #00F627; 
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;  
      font-weight: 700; 
      letter-spacing: 3.60px; 
      word-wrap: break-word
   }
   .but4:hover {
      background: #00F627; 
      border-radius: 45px; 
      color: black; 
   }
   .web{
      margin-left: 350px;
      border-radius: 10%;
      width: 50%;
      height: 20%;
   }
   .fa-brands {
      width: 50px;
   }
   .fa-twitter {
      margin-left: 35px;
   }
}
@media only screen and (max-width: 320px) {
   @font-face {
      font-family: 'Quicksand', sans-serif;
      src: url(Quicksand-VariableFont_wght.ttf);
   }
   * {
         font-family: 'Quicksand', sans-serif;
         color: #00F627;
         justify-content: center;
      margin: 0 auto;
      justify-content:baseline;
   }
   .pfp {
      border-radius: 20%;
      width: 8100px;
      margin-left: 200px;
      margin-top: -10px; 
      margin-bottom: 60px;
   }
   .box {
display: block;
   }
   .box2 {
display: block;
   }
   #hero {
      background-color: black;
   }
   .headings {
      margin-left: -80px;
      display: flex;
      flex-direction: column; 
      margin-left: 310px;
   }
   .headline {
      background-color:transparent;
      margin-top: 280px;
      text-align: left; 
      margin-left: -370px;
      color: #00F627;
      word-wrap: break-word;
      font-weight: 700;
      font-family:'Quicksand', sans-serif;
   }
   .welcome {
      font-size: 45px;
   }
   .welcome1 {
      font-size: 30px;
   }
   .course { 
      font-size: 24px; 
   }
   .it {
      font-size: 20px;
   }
   .subtitle {
      margin-left: -430px; 
      background-color:transparent; 
      top: 260px; 
      list-style-type: none;
      color: #00F627; 
      font-size: 23px;  
      word-wrap: break-word;
      text-align: center;
   }
   li {
      list-style-type: none;
   }
   .but1 {
      width: 268px; 
      height: 69px; 
      top: 692px; 
      margin-left:10px;
      position: absolute; 
      background: #00F627; 
      border-radius: 45px; 
      color: black;      
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 3.60px;
      word-wrap: break-word;
   }
   .but1:hover{
      color: #00F627;
      background-color: black;
      border: 5px #00F627 solid
   }
   .but2 {
      width: 268px; 
      height: 69px; 
      margin-left:15px;
      top: 692px; 
      position: absolute; 
      background: black; 
      border-radius: 45px; 
      border: 5px #00F627 solid; 
      color: #00F627; 
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;  
      font-weight: 700; 
      letter-spacing: 3.60px; 
      word-wrap: break-word
   }
   .but2:hover {
      background: #00F627; 
      border-radius: 45px; 
      color: black; 
   }
}